.customers {
  padding-top: 94px;
  padding-bottom: 94px;

&__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
&__list {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

}

.customers__link {
  fill: #afb1b8;
  align-items: center;
  height: 47px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  text-align: center;
  transition: border-color 800ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  border-color: var(--accent-color);
}

}

.customers__icon {
  transition: fill 800ms cubic-bezier(0.4, 0, 0.2, 1);

.customers__link:hover &,
.customers__link:focus & {
  fill: var(--accent-color);
}

}

