.customers {
  padding-top: 60px;
  padding-bottom: 60px;
 
  @media screen and (min-width:480px) {
    width: 768px;
  }
&__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}
&__list {

  // display: block;
//   display: flex;
//   flex-direction: column;
  
//   gap: 30px;
//   justify-content: center;
//   flex-basis: calc((100%-15px)/2);
// }
--indent: 30px;
  --items: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: var(--indent);

   @media screen and (min-width:480px) {
  // width: 354px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
  --items: 3;
  --indent: 30px;
  }
}

}
.customers__link {
  -ms-flex-preferred-size: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
      flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  fill: #afb1b8;
  align-items: center;
  height: 47px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  width: 210px;
  height: 92px;
  text-align: center;
  transition: border-color 800ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width:480px) {
    width: 226px;
    flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
  }

&:hover,
&:focus {
  border-color: var(--accent-color);
}

}

.customers__icon {
  transition: fill 800ms cubic-bezier(0.4, 0, 0.2, 1);

.customers__link:hover &,
.customers__link:focus & {
  fill: var(--accent-color);
}

}