.features {
  padding-top: 94px;
  padding-bottom: 94px;


&__title {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

&__list {
  display: flex;
  margin-bottom: 0;
}

&__item:not(:last-child) {
  margin-right: 30px;
}

&__item:last-child {
  padding-left: 0;
}

&__holder {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--rectangle-color);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  border: none;
  width: 270px;
  height: 120px;
  color: var(--logo-color);
  margin-bottom: 30px;
  background: #f5f4fa;
  border-radius: 4px;
}


&__subtitle {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

&__txt {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

}