.team {
  background-color: var(--btn-color);
  padding-top: 94px;
  padding-bottom: 94px;


&__title {
  color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
    background-color: var(--btn-color);
}

&__list {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--indent);
  --items: 4;
  --indent: 30px;
}


&__item {
  background-color: var(--primary-bg-color);
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

&__description {
  padding-top: 30px;
  padding-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
&__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

&__text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

}