.form__title {
  display: inline-block;
  margin-top: 2px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}


.form__field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form__label {
  margin-bottom: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.form__thumb {
  position: relative;
}

.form__input {
  width: 448px;
  height: 40px;
   margin: 0;
  padding: 11px 12px;
  letter-spacing: 0.02em;
  font-size: 14px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

&:hover,
&:focus {
  border-color: var(--accent-color);
}

}

.form__holder {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(50%, 50%);
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


.form__input:focus~&,
.form__input:hover~& {
  fill: var(--accent-color);
}

}


.form__comment {
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 20px;


&::placeholder {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

&:hover {
  border-color: var(--accent-color);
}

}

.checkbox {
  display: inline-block;
  margin-bottom: 30px;


&__input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

}
.checkbox__icon {
  display: inline-block;
  text-align: center;
  width: 16px;
  height: 15px;
  background-color: var(--primary-bg-color);
  border: 2px solid #212121;
  border-radius: 2px;
  margin-left: 12px;


.checkbox__input:checked~& {
  background-color: #2196f3;
  border: transparent;
  background-image: url(../images/icons/policy.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

}


.form__policy {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}


.form__link {
  color: var(--button-bg-color);
  text-decoration-line: underline;
  text-underline-position: under;
}


.button-submit {
  background-color: var(--button-bg-color);
  color: var(--primary-bg-color);
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  padding: 10px 55px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);


&:hover,
&:focus {
  background-color: var(--button-bg-hover);
  color: var(--btn-color);
}

}
