:root {
    /* Fonts */
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* Colors */
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --primary-bg-color: #fff;
    --logo-color: #000000;
    --hero-bg-color: #c4c4c4;
    --footer-bg-color: #2f303a;
    --btn-color: #f5f4fa;
    --footer-contact-color: rgba(255, 255, 255, 0.6);
    --header-border: #ececec;
    --projects-border: #eeeeee;
    --button-bg-color: #2196f3;
    --button-bg-hover: #188ce8;
    --rectangle-color: #f5f4fa;
    /* Others */
    --items: 1;
    --indent: 30px;
}